In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('earthquake_data_tsunami.csv')
df.head(10)

,magnitude,cdi,mmi,sig,nst,dmin,gap,depth,latitude,longitude,Year,Month,tsunami
0,7.0,8,7,768,117,0.509,17.0,14.000,-9.7963,159.5960,2022,11,1
1,6.9,4,4,735,99,2.229,34.0,25.000,-4.9559,100.7380,2022,11,0
2,7.0,3,3,755,147,3.125,18.0,579.000,-20.0508,-178.3460,2022,11,1
3,7.3,5,5,833,149,1.865,21.0,37.000,-19.2918,-172.1290,2022,11,1
4,6.6,0,2,670,131,4.998,27.0,624.464,-25.5948,178.2780,2022,11,1
5,7.0,4,3,755,142,4.578,26.0,660.000,-26.0442,178.3810,2022,11,1
6,6.8,1,3,711,136,4.678,22.0,630.379,-25.9678,178.3630,2022,11,1
7,6.7,7,6,797,145,1.151,37.0,20.000,7.6712,-82.3396,2022,10,1
8,6.8,8,7,1179,175,2.137,92.0,20.000,18.3300,-102.9130,2022,9,1
9,7.6,9,8,1799,271,1.153,69.0,26.943,18.3667,-103.2520,2022,9,1

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
import matplotlib.pyplot as plt

# Data exploration
print(df.info())
print(df.describe())

# Prepare features and target
X = df.drop(columns=['tsunami','Year','Month'], axis=1)  # Features
y = df['tsunami']  # Target variable

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   magnitude  782 non-null    float64
 1   cdi        782 non-null    int64
 2   mmi        782 non-null    int64
 3   sig        782 non-null    int64
 4   nst        782 non-null    int64
 5   dmin       782 non-null    float64
 6   gap        782 non-null    float64
 7   depth      782 non-null    float64
 8   latitude   782 non-null    float64
 9   longitude  782 non-null    float64
 10  Year       782 non-null    int64
 11  Month      782 non-null    int64
 12  tsunami    782 non-null    int64
dtypes: float64(6), int64(7)
memory usage: 79.6 KB
None
        magnitude         cdi         mmi          sig         nst  \
count  782.000000  782.000000  782.000000   782.000000  782.000000
mean     6.941125    4.333760    5.964194   870.108696  230.250639
std      0.445514    3.169939    1.462724   322.465367  250.188177
min      6.500000    0.000000    1.000000   650.000000    0.000000
25%      6.600000    0.000000    5.000000   691.000000    0.000000
50%      6.800000    5.000000    6.000000   754.000000  140.000000
75%      7.100000    7.000000    7.000000   909.750000  445.000000
max      9.100000    9.000000    9.000000  2910.000000  934.000000

             dmin         gap       depth    latitude   longitude  \
count  782.000000  782.000000  782.000000  782.000000  782.000000
mean     1.325757   25.038990   75.883199    3.538100   52.609199
std      2.218805   24.225067  137.277078   27.303429  117.898886
min      0.000000    0.000000    2.700000  -61.848400 -179.968000
25%      0.000000   14.625000   14.000000  -14.595600  -71.668050
50%      0.000000   20.000000   26.295000   -2.572500  109.426000
75%      1.863000   30.000000   49.750000   24.654500  148.941000
max     17.654000  239.000000  670.810000   71.631200  179.662000

              Year       Month     tsunami
count   782.000000  782.000000  782.000000
mean   2012.280051    6.563939    0.388747
std       6.099439    3.507866    0.487778
min    2001.000000    1.000000    0.000000
25%    2007.000000    3.250000    0.000000
50%    2013.000000    7.000000    0.000000
75%    2017.000000   10.000000    1.000000
max    2022.000000   12.000000    1.000000
   magnitude  cdi  mmi  sig  nst   dmin   gap    depth  latitude  longitude
0        7.0    8    7  768  117  0.509  17.0   14.000   -9.7963    159.596
1        6.9    4    4  735   99  2.229  34.0   25.000   -4.9559    100.738
2        7.0    3    3  755  147  3.125  18.0  579.000  -20.0508   -178.346
3        7.3    5    5  833  149  1.865  21.0   37.000  -19.2918   -172.129
4        6.6    0    2  670  131  4.998  27.0  624.464  -25.5948    178.278
0    1
1    0
2    1
3    1
4    1
Name: tsunami, dtype: int64

In [6]:
print(X.head())

print(y.head())

   magnitude  cdi  mmi  sig  nst   dmin   gap    depth  latitude  longitude
0        7.0    8    7  768  117  0.509  17.0   14.000   -9.7963    159.596
1        6.9    4    4  735   99  2.229  34.0   25.000   -4.9559    100.738
2        7.0    3    3  755  147  3.125  18.0  579.000  -20.0508   -178.346
3        7.3    5    5  833  149  1.865  21.0   37.000  -19.2918   -172.129
4        6.6    0    2  670  131  4.998  27.0  624.464  -25.5948    178.278
0    1
1    0
2    1
3    1
4    1
Name: tsunami, dtype: int64